<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="width: 80%; max-width: 350px; height: 80%; background-color:#ffffff; max-height: 170px;
  top:20px;  " align-self-center padding>
    
    <ion-img cache=true  src="assets/img/logo-la-coyoacana-01-300x180.png" style="position: abolute; top: 20px; width: 80%; max-width: 350px; height: 100%; margin-left: auto; margin-right: auto; background-color:#ffffff;"></ion-img>

    </ion-content>
 
<ion-content style="width: 90%; max-width: 350px; height: 80%; background-color:#ffffff; " align-self-center padding>
    
<ion-item>
  <ion-label position="floating">Usuario:</ion-label>
  <ion-input></ion-input>
</ion-item>
    
<ion-item>
  <ion-label position="floating">Contraseña:</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
    
 
 <!--  <hr style="height: 1px; margin: 0 0; background-color: black" /> -->
    
<ion-button routerLink="/principal" style="margin-top: 40px; text-transform: capitalize;" expand="block" >Ingresar</ion-button>
<ion-button routerLink="/registro" style="margin-top: 20px; text-transform: capitalize;" expand="block" >Registrar</ion-button>
    
</ion-content>



