

ion-toolbar {
  background: var(--ion-color-yaciment);
  color: var(--ion-color-yaciment-contrast);
}

ion-content {
  background: var(--ion-color-yaciment);
  color: var(--ion-color-yaciment-contrast);
}

ion-page {
    background: var(--ion-color-yaciment);
  color: var(--ion-color-yaciment-contrast);
}

//ion-button {
//  background: #ffffff;
//  color: #ffffff;
//}